.services {
    padding: 100px 0;
    color: #fff;
    background: no-repeat center center scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-responsive {
    margin: 0 auto;
    width: 210px;
}

.col-client {
    width: 25%;
    padding: 10px;
    margin: 10px;
}

.h1clients {
    width: 100%;
    font-style: bold;
}

@media (max-width:767px) {
    .col-client {
        width: 50%;
        padding: 10px;
    }
}

@media (max-width:300px) {
    .services {
        padding: 10px;
    }

    .col-client {
        width: 50%;
    }
}