.contactus{
    padding: 20px;
}
.hrred{
    border: 2px double red;
    width: 200px;
}
.h1contact{
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


.FormInput {
   border: none;
   background: transparent;
   outline: none;
   font-size: 20px;
 }
 
.btn-full-width {
    width: 100%;
    padding: 50px 0;
    border: 0;
    border-radius: 0;
    text-transform: none;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: normal;
    color: #fff;
    background-color: #222;
}

.btn-full-width:hover {
    color: #fff;
    background-color: #b41f7a;
}

.btn-full-width:focus {
    color: #fff;
}
