.img-responsive {
    margin: 0 auto;
    width: 210px;
}

.about-carousel {
    background-color: aliceblue;
}

.col-media {
    width: 25%;
    padding: 10px;
    margin: 10px;
}

@media (max-width:767px) {
    .col-media {
        width: 40%;
        padding: 10px;
    }

    .services {
        padding: 10px;
    }
}

@media (max-width:300px) {
    .services {
        padding: 10px;
    }

    .col-media {
        width: 40%;
    }
}