.contactus{
    padding: 20px;
}
.hrred{
    border: 2px double red;
    width: 200px;
}
.h1work{
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.item-work{
    background-image: url('../img/portfolio/bg-1.jpg')
}

.portfolio-carousel {
    padding: 0;
    color: #fff;
    background-color: #222;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.portfolio-carousel .item {
    padding: 50px 55px;
    text-align: center;
    background: no-repeat center center scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-carousel .item .portfolio-image {
    margin-top: 50px;
}

.portfolio-carousel .item .project-details {
    padding: 0;
}

.portfolio-carousel .item .project-details img.client-logo {
    margin: 0 auto 25px;
}

.portfolio-carousel .item .project-details .project-name {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

.portfolio-carousel .item .project-details .project-description {
    display: block;
    font-size: 18px;
    line-height: 20px;
}
@media(max-width:720px) {
    .portfolio-carousel .item .project-details .project-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    }   
    .portfolio-carousel .item .project-details .project-description {
    display: block;
    font-size: 16px;
    line-height: 20px;
    }
}
.portfolio-carousel .owl-controls {
    margin-top: 0;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 75px;
    margin: auto 0!important;
    border-radius: 0!important;
    text-align: center;
    font-size: 30px!important;
    line-height: 70px;
    color: #fff!important;
    background-color: #b41f7a!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.portfolio-carousel .owl-controls .owl-prev:hover,
.portfolio-carousel .owl-controls .owl-next:hover {
    opacity: 1;
}

.portfolio-carousel .owl-controls .owl-prev {
    left: 0;
}

.portfolio-carousel .owl-controls .owl-next {
    right: 0;
}

@media(min-width:992px) {
    .portfolio-carousel .item {
        padding: 155px 55px;
        min-height: 100%;
        text-align: left;
    }

    .portfolio-carousel .item .portfolio-image {
        margin-top: 0;
    }

    .portfolio-carousel .item .project-details {
        padding: 0 0 0;
    }

    .portfolio-carousel .item .project-details img.client-logo {
        margin: 0 auto 25px 0;
    }

    .portfolio-carousel .item .project-details .project-name {
        display: block;
        font-size: 30px;
        line-height: 30px;
    }

    .portfolio-carousel .item .project-details .project-description {
        font-size: 18px;
        line-height: 25px;
    }

    .portfolio-carousel .item hr.colored {
        margin: 20px auto 20px 0;
    }
}