p{
    text-align: center;
}
.youtube{
    background-color: #ffffff;
    height: auto;
    width: 100%;
    position: relative;
    padding: 15px;
}
.cardYoutube{
    width: 30%;
    float: left;
    margin: 10px 10px 0 0;
}
.hrred{
    border: 2px double red;
    width: 200px;
}
.h1youtube{
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.youtubeframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .youtubeframe iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
.portfolio-carousel {
    padding: 0;
    color: #fff;
    background-color: #222;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.portfolio-carousel .item {
    padding: 50px 55px;
    text-align: center;
    background: no-repeat center center scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-carousel .item .portfolio-image {
    margin-top: 50px;
}

.portfolio-carousel .item .project-details {
    padding: 0;
}

.portfolio-carousel .item .project-details img.client-logo {
    margin: 0 auto 25px;
}

.portfolio-carousel .item .project-details .project-name {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

.portfolio-carousel .item .project-details .project-description {
    display: block;
    font-size: 18px;
    line-height: 20px;
}
@media(max-width:720px) {
    .portfolio-carousel .item .project-details .project-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    }   
    .portfolio-carousel .item .project-details .project-description {
    display: block;
    font-size: 16px;
    line-height: 20px;
    }
}
.portfolio-carousel .owl-controls {
    margin-top: 0;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 75px;
    margin: auto 0!important;
    border-radius: 0!important;
    text-align: center;
    font-size: 30px!important;
    line-height: 70px;
    color: #fff!important;
    background-color: #b41f7a!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.portfolio-carousel .owl-controls .owl-prev:hover,
.portfolio-carousel .owl-controls .owl-next:hover {
    opacity: 1;
}

.portfolio-carousel .owl-controls .owl-prev {
    left: 0;
}

.portfolio-carousel .owl-controls .owl-next {
    right: 0;
}

@media(min-width:992px) {
    .portfolio-carousel .item {
        padding: 155px 55px;
        min-height: 100%;
        text-align: left;
    }

    .portfolio-carousel .item .portfolio-image {
        margin-top: 0;
    }

    .portfolio-carousel .item .project-details {
        padding: 0 0 0;
    }

    .portfolio-carousel .item .project-details img.client-logo {
        margin: 0 auto 25px 0;
    }

    .portfolio-carousel .item .project-details .project-name {
        display: block;
        font-size: 30px;
        line-height: 30px;
    }

    .portfolio-carousel .item .project-details .project-description {
        font-size: 18px;
        line-height: 25px;
    }

    .portfolio-carousel .item hr.colored {
        margin: 20px auto 20px 0;
    }
}

.portfolio-gallery .item {
    padding: 15px;
}

.portfolio-modal {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-modal .modal-backdrop {
    display: none;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    color: #fff;
    background: 0 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 46px;
}

.portfolio-modal .modal-content img {
    margin: 30px auto;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-filter {
    display: inline-block;
}

.portfolio-filter #filters {
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}

.portfolio-filter #filters li {
    display: inline-block;
}

.portfolio-filter #filters li .filter {
    display: block;
    margin: 2px;
    padding: 10px 15px;
    border: 1px solid #222;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #222;
    background: 0 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.portfolio-filter #filters li .filter.active {
    border-color: #b41f7a;
    color: #fff;
    background-color: #b41f7a;
}

#portfoliolist .portfolio {
    display: none;
    float: left;
    width: 31%;
    margin: 1%;
    overflow: hidden;
}

#portfoliolist .portfolio .portfolio-wrapper {
    position: relative!important;
    overflow: hidden;
    background: #222;
    cursor: pointer;
}

#portfoliolist .portfolio .portfolio-wrapper img {
    position: relative;
    max-width: 100%;
}

#portfoliolist .portfolio .portfolio-wrapper .caption {
    position: absolute;
    bottom: -75px;
    width: 100%;
    height: 75px;
}

#portfoliolist .portfolio .portfolio-wrapper .caption .caption-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef4035;
}

#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text {
    z-index: 500;
    position: relative;
    padding: 15px 8px;
    color: #fff;
}

#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text a.text-title {
    color: #fff;
}

#portfoliolist .portfolio .portfolio-wrapper .caption .caption-text .text-category {
    display: block;
    font-size: 12px;
}

@media only screen and (max-width:767px) {
    #portfoliolist .portfolio {
        width: 48%;
        margin: 1%;
    }
}
