.container-admin {
background-color: bisque;
}

.admin{
    width: 70%;
    height: 700px;
    background-color: cornflowerblue;
    float: left;
}
.login{
    background-color: cornflowerblue;
    width: 70%;
    margin : 0 auto;
    padding: 20px;
 
    margin-bottom: 50px;
}
.sidebar{
    width: 20%;
    float: left;
}